*{
    padding: 0px;
    margin: 0px;
}
.box{
    height: 600px;
    width:600px;
    /* background-color: purple; */
    border-radius: 50%;
    position: relative;
    animation-name: hover;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    overflow: hidden;
}
@keyframes hover {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
img{
    height:200px;
    width:150px;
    border-radius: 10px;
}
.food1{
    position: absolute;
    top: 0px;
    left: 226px;
    transform: rotate(0deg);
}
.food2{
    position: absolute;
    top: 147px;
    left: 411px;
    transform: rotate(72deg);
}
.food3{
    position: absolute;
    top: 372px;
    left: 342px;
    transform: rotate(144deg);
}
.food4{
    position: absolute;
    top: 145px;
    left: 40px;
    transform: rotate(288deg);
}
.food5{
    position: absolute;
    top: 364px;
    left: 104px;
    transform: rotate(221deg);
}